{% extends 'index.html' %}
{% block body %}

<style>
    form{
        display: flex;
        flex-direction: column;
    }
    .line{
        display: flex;
        flex-direction: column;
    }
    input{
        width: 80%;
        height: 5vh;
        margin: 3vh auto 0 auto;
        padding-left: 3%;
        border: 1px solid rgba(32,91,103, 0.6);
        outline: none;
    }input::placeholder{color: rgba(32,91,103, 0.5);}input:focus{
            background: rgba(255,205,16, 0.1);
            border: 2px solid rgba(255,205,16, 0.8);
    }
    .line span{
        margin-top: 1vw;
        margin-right: 9%;
        font-size: 4vw;
        text-align: right;
        color: rgb(0,96,255);
        cursor: pointer;
    }
    #btn_div{
        width: 100%;
        margin: 5vh auto;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #update_pswd_btn{
        width: 40%;
        margin: 0;
        background: rgb(0,96, 255);
        color: white;
        border: none;
        border-radius: 8px;
    }
    #cancel_profile{
        width: 40%;
        height: 4vh;
        padding-top: 1vh;
        background: rgb(238,23,0);
        color: white;
        border-radius: 8px;
    }

  @media screen and (orientation: landscape)
  {
      form{padding: 0 20%;}
      input{
          height: 8vh;
          margin-top: 4.75vh;
      }
      .line span{
        margin-top: 0.5vw;
        font-size: 2.5vw;
    }
      #btn_div{margin-top: 8vh;}
      #cancel_profile{height: 6.5vh;}
  }

  @media screen and (min-width: 1080px)
  {
      input{
          width: 70%;
          font-size: 3vh;
        }
      .line span{
          margin-top: 0.3vw;
          margin-right: 14%;
          font-size: 1.75vw;
        }
      #btn_div{width: 80%;}
      #cancel_profile{
          height: 5vh;
          padding-top: 2vh;
          font-size: 3vh;
        }
  }

</style>
    
    <form method="post" action="/update_password">
        <div class="line">
            <input type="password" required placeholder="Current Password" autofocus name="update-pswd-1" id="update-pswd-1">
            <span onclick="showPassword('update-pswd-1')" id='update-switch-pswd-1'>Show Password</span>
        </div>
        <div class="line">
            <input type="password" required pattern="(?=.*[0-9])(?=.*[A-Za-z])\S{8,}"
                title="Password should contain atleast 8 characters including 1 number and a letter" placeholder="New Password" name="update-pswd-2" id="update-pswd-2">
            <span onclick="showPassword('update-pswd-2')" id='update-switch-pswd-2'>Show Password</span>
        </div>
        <div class="line">
            <input type="password" required placeholder="Confirm Password" name="update-pswd-3" id="update-pswd-3">
            <span onclick="showPassword('update-pswd-3')" id='update-switch-pswd-3'>Show Password</span>
        </div>
        <div id="btn_div">
            <a href="/profile" id="cancel_profile">Cancel</a>
            <input type="submit" value="Update Password" id="update_pswd_btn">
        </div>
    </form>

{% endblock %}