{% extends 'index.html' %}
{% block body %}
    
    <form method="post" action="/update_password">
        <input type="password" required placeholder="Current Password" autofocus name="update-pswd-1" id="update-pswd-1">
        <span onclick="showPassword('update-pswd-1')" id='update-switch-pswd-1'>Show Password</span>
        <input type="password" required pattern=".{8,}" title="Password should contain atleast 8 characters" placeholder="New Password" name="update-pswd-2" id="update-pswd-2">
        <span onclick="showPassword('update-pswd-2')" id='update-switch-pswd-2'>Show Password</span>
        <input type="password" required placeholder="Confirm Password" name="update-pswd-3" id="update-pswd-3">
        <span onclick="showPassword('update-pswd-3')" id='update-switch-pswd-3'>Show Password</span>
        <input type="submit" value="Update Password">
    </form>

{% endblock %}