{% extends 'index.html' %}
{% block body %}
    <form method="post" action="/search_event">
        <input type="search">
        <input type="submit" value="Search">
    </form>

    <!-- {% for i in val %}
        <div>
            <img src="../static/images/banners/{{ i[1] }}.png">
            <h1>{{ i[2] }}</h1>
            <h3>{{ i[3] }}</h3>
            <h3>{{ i[3] }}</h3>
            <h3>{{ i[9] + ' ' + i[10] }}</h3>
        </div>
    {% endfor %} -->

    <a href="/create_event">Create Event</a>

{% endblock %}