{% extends 'index.html' %}
{% block body %}
    <form method="post" action="/search_my_event" class="search_div">
        <input type="search" placeholder="Search Event" list="events" class="search_title" name="search_title">
        <input type="submit" value="Search" class="search_btn">
    </form>

    <!-- ['event_id', 'host_id', 'title', 'date_time', 'venue',
        'max_participants', 'description', 'banner', 'participants_reg','participants_atnd',
        'fName', 'lName', 'participants_reg_num', 'participants_reg_name', 'participants_atnd_name',
        'hr_start', 'm_start', 'hr_end', 'm_end', 'live_status'] -->

    <datalist id="events">
        {% for i in vals %}
            <option value="{{ i[2] }}">
        {% endfor %}
    </datalist>

    {% for i in vals %}
        <a href="/view_my_event?se_id={{i[0]}}">
        <div class="event_card" class="event_card">
            <span>{{ i[19] }}</span>
            <img src="../static/images/banners/{{ i[7] }}.png" class="event_banner">
            <h1>{{ i[2] }}</h1>
            <h3>Date: {{ i[3][8:10]+'/'+i[3][5:7]+'/'+i[3][:4] }}</h3>
            <h3>Time: {{ i[15]+':'+i[3][14:16]+' '+i[16]+' to '+i[17]+':'+i[3][20:22]+' '+i[18] }}</h3>
            <a href="/view_profile?s_lid={{i[1]}}"><h3>Hosted by: {{ i[10] + ' ' + i[11] }}</h3></a>
        </div></a>
        {% endfor %}

{% endblock %}