{% extends 'index.html' %}
{% block body %}
<!-- ['login_id', 'fName', 'lName', 'email', 'phone', 'password', 'profile_pic', 'events_reg', 'events_atnd', 'events_host'] -->

    <style>
        #dp{transition: 0.5s;}#dp:hover{transform: scale(0.8);}
        table{
            width: 100%;
            margin-top: 5vh;
            border: 1px solid rgb(32,91,103);
            border-collapse: collapse;
            text-align: left;
        }
        caption{
            margin-bottom: 1vh;
            color: rgb(0,96,255);
            font-size: 5vw;
            font-weight: 600;
        }
        th{
            padding: 1vh 0;
            background: rgb(5,191,206);
            text-align: center;
        }
        td{color: rgb(32,91,103);}
        .view{text-align: center;}
        table a{
            color: rgb(149,191,21);
            font-weight: 600;
        }
        

        @media screen and (orientation: landscape)
        {
            table{
                margin-top: 10vh;
                text-align: left;
            }
            caption{
                margin-bottom: 1vh;
                font-size: 3vw;
            }
            td{padding: 1% 0;}
        }
    </style>

    <a href="/change_dp"><img src="../static/images/profile_pictures/{{val[6]}}.png" id="dp"></a>
    <h1 id="profile_name">{{ val[1]+' '+val[2] }}</h1>
    <div id="profile_details">
        <h3 id="profile_email">{{ val[3] }}</h3>
        <h3 id="profile_phn">{{ val[4] }}</h3>
    </div>

    <div id="profile_links">
        <a href="/edit_profile">Edit Profile</a>
        <a href="/change_pswd">Change Password</a>
    </div>

    <table border="1">
        <caption>Events Attended</caption>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Time</th>
            <th>Host</th>
            <th>Venue</th>
            <th>Participants</th>
        </tr>
        {% for i in val_atnd %}
        <tr>
            <td>{{ i[2] }}</td>
            <td>{{ i[3][8:10]+'/'+i[3][5:7]+'/'+i[3][:4] }}</td>
            <td>{{ i[15]+':'+i[3][14:16]+' '+i[16]+' to '+i[17]+':'+i[3][20:22]+' '+i[18] }}</td>
            <td><a href="/view_profile?s_lid={{i[1]}}" class="profile">{{ i[10] + ' ' + i[11] }}</a></td>
            <td>{{ i[4] }}</td>
            <td class="view"><a href="/view_participants?e_id={{i[0]}}">View</a></td>
        </tr>
        {% endfor %}
    </table>

    <table border="1">
        <caption>Events Hosted</caption>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Time</th>
            <th>Venue</th>
            <th>Participants</th>
        </tr>
        {% for i in val_host %}
        <tr>
            <td>{{ i[2] }}</td>
            <td>{{ i[3][8:10]+'/'+i[3][5:7]+'/'+i[3][:4] }}</td>
            <td>{{ i[15]+':'+i[3][14:16]+' '+i[16]+' to '+i[17]+':'+i[3][20:22]+' '+i[18] }}</td>
            <td>{{ i[4] }}</td>
            <td class="view"><a href="/view_participants?e_id={{i[0]}}">View</a></td>
        </tr>
        {% endfor %}
    </table>

    <!--['event_id', 'host_id', 'title', 'date_time', 'venue', 'max_participants', 'description', 'banner',
    'participants_reg','participants_atnd', 'fName', 'lName', 'participants_reg_num', 'participants_reg_name',
    'participants_atnd_name','hr_start', 'm_start', 'hr_end', 'm_end', 'event_fill_status'] -->

{% endblock %}