<html>
    <head>
        <title>
            Test
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.css') }}">
        <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
    </head>
    <body>

         <!-- Trigger/Open The Modal -->
         <button id="myBtn">Open Modal</button>

         <!-- The Modal -->
         <div id="myModal" class="modal">
 
             <!-- Modal content -->
             <div class="modal-content">
                 <span class="close">&times;</span>
                 <p>Some text in the Modal..</p>
             </div>
 
         </div> 

        <h2>Toast</h2>
        <button onclick="make_toast()">Show Toast</button>
        <div id="toast">Showing toast!</div>
        <br><br>
    </div> 

    </body>
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
</html>